{
  "presets": [
    "next/babel",
    {
      "preset-react": {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    }
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "@constant": "./src/constant",
          "@utils": "./src/utils",
          "@hooks": "./src/hooks",
          "@components": "./src/components",
          "@layout": "./src/layout",
          "@typing": "./src/typing",
          "@elements": "./src/elements",
          "@markdown": "./src/markdown"
        }
      }
    ],
    [
      "@emotion/babel-plugin"
    ]
  ]
}